ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
}
li {
    width: 30%;
    height: 100px;
    font-family: verdana;
    text-align: center;
    line-height: 95px;
    margin: 20px;
    background-color: lightseagreen;
    border-radius: 25px
}

li:nth-child(2) {
    background-color: turquoise;
}
li:nth-child(3) {
    background-color: mediumseagreen;
}
li:nth-child(4) {
    background-color: coral;
}
li:nth-child(5) {
    background-color: peachpuff;
}
li:nth-child(6) {
    background-color: darkorange;
}

li:hover {
    background-color: grey;
    color: white;
}